<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        {{!< layouts/main}}
        <h1> Your Profile </h1>
        <div class="user-profile">
            <h1>Username is {{user.username}}</h1>
            <h1>Email is {{user.email}}</h1>
            <div class="genre">
                <h1>Favorite Genres is {{user.genres}}</h1>
            </div>
            <h1> Recents are </h1>
            <div class="recents">
                <div class="container">
                {{#each recents}}
                    <div class="movie-card">
                        <img class="movie-image" src="https://image.tmdb.org/t/p/original{{posterPath}}" alt="Movie Poster"/>
                        <div class="movie-info">
                            <h2 class="movie-title">{{title}}</h2>
                            <p class="movie-genres">{{genres}}</p>
                            <p class="movie-release-date">Release Date: {{release_date}}</p>
                            <p class="movie-description">
                                {{overview}}
                            </p>
                            <p class="movie-id">{{id}}</p>
                        </div>
                    </div>        
                {{/each}}
                </div>
            </div>
            <h1> Favorites are </h1>
            <div class="favorites">
                <div class="container">
                {{#each favorites}}
                    <div class="movie-card">
                        <img class="movie-image" src="https://image.tmdb.org/t/p/original{{posterPath}}" alt="Movie Poster"/>
                        <div class="movie-info">
                            <h2 class="movie-title">{{title}}</h2>
                            <p class="movie-genres">{{genres}}</p>
                            <p class="movie-release-date">Release Date: {{release_date}}</p>
                            <p class="movie-description">
                                {{overview}}
                            </p>
                            <p class="movie-id">{{id}}</p>
                        </div>
                    </div>        
                {{/each}}
                </div>
            </div>
        
            <div class="people">
                <h1>favorite people are {{people}}</h1>
            </div>
        </div>
    </body>


</html>