<!DOCTYPE html>
<htm>
    <head>
        <title>{{title}}</title>
        <script = "scripts/addFavoriteMovie.js"></script>
    </head>
    <body>
        {{!< layouts/main }}
        <h1> <a href='/add'>Search Movies</a></h1>
        <h1>Search Results</h1>
        <div class="Movie">
            {{#each movies}}
            <div class="movie-details">
                <img class="movie-poster" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt={{title}}>
                <div class="movie-info">
                    <h1 class="movie-title">{{title}}</h1>
                    Release Date: <p class="movie-release-date">{{release_date}}</p>
                    Overview: <p class="movie-overview">{{overview}}</p>
                    Rating: <p class="movie-rating">{{vote_average}}</p>
                    Genres: <p class="movie-genres">{{genre_ids}}</p>
                    Popularity: <p class="movie-popularity">{{popularity}}</p>
                    <p class="movie-id">{{id}}</p>
                    <button class="add-to-favorites">Add to Favorites</button>
                </div>
            </div>
            {{/each}}
        </div>
    </body>
    
</htm>