<!DOCTYPE html>
<htm>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="stylesheets/search.css">
        <script defer src ="scripts/addFavoriteMovie.js"></script>
    </head>
    <body>
        {{!< layouts/main }}

        <div class="searchForm">
            <h1>Search for your favorite or recently watched movies and add it to your collection.</h1><br>

            <form method = "GET" action="/add" class="form-inline">
                <input type="text" name="movie" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Movie Name">

                <input type="submit" class="btn btn-primary mb-2" value="Search Movie">
            </form>
        </div>

        {{#if movies}}
            <div class="h1 text-center text-dark" id="pageHeaderTitle">Search Results for {{search}}</div>
                {{#each movies}}
                    <section class="light">
                        <div class="container py-2">
                            <article class="postcard">
                                <a class="postcard__img_link" href="#">
                                    <img class="postcard__img" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{title}}" />
                                </a>
                                <div class="postcard__text t-dark">
                                    <h1 class="postcard__title blue">{{title}}</h1><br>
                                    <div class="postcard__subtitle small">
                                        <time>
                                            <i class="fas fa-calendar-alt mr-2"></i>{{release_date}}
                                        </time>
                                    </div>
                                    <br>
                                    <div class="postcard__bar"></div>
                                    <div class="postcard__preview-txt">{{overview}}</div>
                                    <br>
                                    <ul class="postcard__tagbox">
                                        <li class="tag__item"><i class="fas fa-clock mr-2"></i>{{genre_ids}}</li>
                                    </ul>
                                    <p class="movie-id">{{id}}</p>
                                    <p class="popularity">{{popularity}}</p>
                                    <button class="btn btn-primary favorites" type="submit">Add to favorites</button>
                                    <button class="btn btn-primary recents" type="submit">Add to recently watched</button>
                                </div>
                            </article>
                        </div>
                    </section>        
                {{/each}}

        {{else}}
            {{#if search}}
                <div class="h1 text-center text-dark" id="pageHeaderTitle">No results for {{search}}</div>
            {{/if}}
        {{/if}}

    </body>
    
</htm>