<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <script defer src="scripts/removeMovie.js"></script>
    </head>
    <body>
        {{!< layouts/main }}
        <div class="h1 text-center text-dark" id="pageHeaderTitle">Your Favorites</div>
        {{#each favorites}}
            <section class="light">
                <div class="container py-2">
                    <article class="postcard light blue">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="https://image.tmdb.org/t/p/original{{posterPath}}" alt="{{title}}" />
                        </a>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title blue">{{title}}</h1><br>
                            <div class="postcard__subtitle small">
                                <time>
                                    <i class="fas fa-calendar-alt mr-2"></i>{{release_date}}
                                </time>
                            </div>
                            <br>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">{{overview}}</div>
                            <br>
                            <ul class="postcard__tagbox">
                                <li class="tag__item"><i class="fas fa-clock mr-2"></i>{{genres}}</li>
                            </ul>
                             <p class="movie-id" style="display:none;">{{id}}</p>
                            <button id="remove-from-favorites" class="btn btn-primary removefav" type="submit">Remove from favorites</button>

                        </div>
                    </article>
                </div>
                    
            </section>
        {{/each}}

    </body>
</html>